.form, .formElement {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
}

.formElement__items {
  display: flex;
  flex-direction: column;
}

.formElement--label, .formElement--input {
  font-size: 18px;
}

.formElement--input {
  margin: 8px auto;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ccc;
}